
html {
    display: table;
    margin: auto;
}
body{
    position: relative;
    background: lightgreen;
    align-content: center;
}

main, aside, nav, footer, header{
    background: white;
}

header{
    height: 70px;
}

header h1{
    position: absolute;
    left: 75px;
    top: 0px;
}

nav{
    vertical-align: middle;
    line-height: 30px;
}
nav li{
    display: inline;
    padding-right: 20px;
}

main{
    float: left;
    width: 630px;
    margin-bottom: 10px;
}

img{
    position: relative;
    left: 10px;
    top: 10px;
}

.floatLeft{
    position: relative;
    left: 10px;
    float: left;
    width: 300px;
}
.floatRight{
    position: relative;
    right: 10px;
    float: right;
    width: 300px;
}

aside{
    float: right;
    width: 320px;
    margin-bottom: 10px;
}
iframe, aside h2, aside p{
    margin-left: 10px;
    width: 300px;
}

footer{
    clear: both;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}
